<footer>
  <div class="container">
    <div class="row">
      <div class="col-4 footer-col">
        <p class="footer-title">About Us <i class="footer-title-line"></i></p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
      </div>
      <div class="col-4 footer-col">
        <p class="footer-title">Get in Touch <i class="footer-title-line"></i></p>
        <address>
          <div class="row">
            <div class="col-3 footer-contact-label">
              <p>Address:</p>
            </div>
            <div class="col-9">
              <p>66 South Street,</p>
              <p>Window 6 Wonderland</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 footer-contact-label">
              <p>Phone:</p>
            </div>
            <div class="col-9">
              <p>+440 875369208 - Office</p>
              <p>+440 353363114 - Fax</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 footer-contact-label">
              <p>Email:</p>
            </div>
            <div class="col-9">
              <p>freepik@sitename.com</p>
            </div>
          </div>
        </address>
      </div>
      <div class="col-4 footer-col">
        <p class="footer-title">Social Media <i class="footer-title-line"></i></p>
        <p id="footer-social-p">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam.</p>
        <div class="social">
          <button name="btn1" class="icon-btn">
            <i class="fa fa-youtube"></i>
          </button>
          <i class="social-ident"></i>
          <button name="btn2" class="icon-btn">
            <i class="fa fa-google-plus"></i>
          </button>
          <i class="social-ident"></i>
          <button name="btn3" class="icon-btn">
            <i class="fa fa-facebook"></i>
          </button>
          <i class="social-ident"></i>
          <button name="btn4" class="icon-btn">
            <i class="fa fa-dribbble"></i>
          </button>
          <i class="social-ident"></i>
          <button name="btn5" class="icon-btn">
            <i class="fa fa-twitter"></i>
          </button>
          <i class="social-ident"></i>
          <button name="btn6" class="icon-btn">
            <i class="fa fa-instagram"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <p class="footer-copyright">Copyrights 2016 ©[Rafał Wartanowicz]</p>
</footer>
