<main>
  <section class="hero">
    <div class="hero-image">
      <div class="slogan">
        <div>With us you  will find new ways</div>
      </div>
    </div>
  </section>
  <section class="advantages">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <i class="fa fa-search"></i>
          <h2>Research</h2>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        </div>
        <div class="col-4">
          <i class="fa fa-laptop"></i>
          <h2>Fully Customizable</h2>
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
        </div>
        <div class="col-4">
          <i class="fa fa-cogs"></i>
          <h2>Work and Work</h2>
          <p>Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="title-and-text">
    <div class="container">
      <h1>Featured Works</h1>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco"</p>
    </div>
  </section>
  <section class="gallery">
    <div class="row">
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/541522/pexels-photo-541522.jpeg" target="_blank">
          <div id="gallery-image-11">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/450271/pexels-photo-450271.jpeg" target="_blank">
          <div id="gallery-image-12">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/515169/pexels-photo-515169.jpeg" target="_blank">
          <div id="gallery-image-13">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/541523/pexels-photo-541523.jpeg" target="_blank">
          <div id="gallery-image-14">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/541525/pexels-photo-541525.jpeg" target="_blank">
          <div id="gallery-image-15">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/509799/pexels-photo-509799.jpeg" target="_blank">
          <div id="gallery-image-16">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/515167/pexels-photo-515167.jpeg" target="_blank">
          <div id="gallery-image-21">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/541526/pexels-photo-541526.jpeg" target="_blank">
          <div id="gallery-image-22">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/450270/pexels-photo-450270.jpeg" target="_blank">
          <div id="gallery-image-23">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/7064/man-notes-macbook-computer.jpg" target="_blank">
          <div id="gallery-image-24">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/544117/pexels-photo-544117.jpeg" target="_blank">
          <div id="gallery-image-25">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
      <div class="col-2 col-m-4">
        <a href="https://images.pexels.com/photos/551652/pexels-photo-551652.jpeg" target="_blank">
          <div id="gallery-image-26">
            <div class="layer">
              <i class="fa fa-link"></i>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <h1>Our Team</h1>
      <div class="row">
        <div class="col-3">
          <div id="team-image-1"></div>
          <p>Dexter Gilbert</p>
        </div>
        <div class="col-3">
          <div id="team-image-2"></div>
          <p>Marry Collier</p>
        </div>
        <div class="col-3">
          <div id="team-image-3"></div>
          <p>Stefan Morrison</p>
        </div>
        <div class="col-3">
          <div id="team-image-4"></div>
          <p>Bill Smith</p>
        </div>
      </div>
    </div>
  </section>
  <section class="promotion">
    <div class="container">
      <div class="row">
        <div id="promotion-image" class="col-4">
          <img src="https://images.pexels.com/photos/569062/pexels-photo-569062.png?h=100&auto=compress&cs=tinysrgb" alt="">
        </div>
        <div class="col-8">
          <h1>Promotion for new mobile software</h1>
          <div class="row">
            <div id="promotion-1" class="col-6">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, </div>
            <div id="promotion-2" class="col-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="numbers">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h1>455</h1>
          <p>Followers</p>
        </div>
        <div class="col-3">
          <h1>1991</h1>
          <p>Since</p>
        </div>
        <div class="col-3">
          <h1>806</h1>
          <p>Happy Clients</p>
        </div>
        <div class="col-3">
          <h1>923</h1>
          <p>Projects</p>
        </div>
      </div>
    </div>
  </section>
</main>
