/* GALLERY */

div#gallery-image-11 {
	background-image: url(https://images.pexels.com/photos/541522/pexels-photo-541522.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-12 {
	background-image: url(https://images.pexels.com/photos/450271/pexels-photo-450271.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-13 {
	background-image: url(https://images.pexels.com/photos/515169/pexels-photo-515169.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-14 {
	background-image: url(https://images.pexels.com/photos/541523/pexels-photo-541523.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-15 {
	background-image: url(https://images.pexels.com/photos/541525/pexels-photo-541525.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-16 {
	background-image: url(https://images.pexels.com/photos/541523/pexels-photo-541523.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-21 {
	background-image: url(https://images.pexels.com/photos/515167/pexels-photo-515167.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-22 {
	background-image: url(https://images.pexels.com/photos/541526/pexels-photo-541526.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-23 {
	background-image: url(https://images.pexels.com/photos/450270/pexels-photo-450270.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-24 {
	background-image: url(https://images.pexels.com/photos/7064/man-notes-macbook-computer.jpg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-25 {
	background-image: url(https://images.pexels.com/photos/544117/pexels-photo-544117.jpeg?h=115&auto=compress&cs=tinysrgb);
}
div#gallery-image-26 {
	background-image: url(https://images.pexels.com/photos/551652/pexels-photo-551652.jpeg?h=115&auto=compress&cs=tinysrgb);
}

/* TEAM */

div#team-image-1 {
	background-image: url(http://placehold.it/140x140);
}
div#team-image-2 {
	background-image: url(http://placehold.it/140x140);
}
div#team-image-3 {
	background-image: url(http://placehold.it/140x140);
}
div#team-image-4 {
	background-image: url(http://placehold.it/140x140);
}
